<!DOCTYPE html>
<html>
  <head>
    <title>Bike Stations</title>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <li><a href="/sim">sim</a></li>
    <h1>Bike Stations</h1>

    <form action="/submit" method="post">
      <input type="number" name="input_text" />
      <button type="submit" name="generet users">generet users</button>

      <button type="submit" name="generat transporters">Other Button</button>
    </form>

    <h2>All Stations</h2>
    <style>
      .scrollable {
        height: 200px;
        overflow-y: scroll;
      }
    </style>

    <div class="scrollable">
      <table>
        <thead>
          <tr>
            <th><a href="?sort=id">ID</a></th>
            <th><a href="?sort=object_type">Object Type</a></th>
            <th><a href="?sort=velo_type">Velo Type</a></th>
            <th><a href="?sort=location">Location</a></th>
            <th><a href="?sort=street_name">Street Name</a></th>
            <th><a href="?sort=house_number">House Number</a></th>
            <th><a href="?sort=additional_info">Additional Info</a></th>
            <th><a href="?sort=district">District</a></th>
            <th><a href="?sort=postal_code">Postal Code</a></th>
            <th><a href="?sort=object_code">Object Code</a></th>
            <th><a href="?sort=usage_status">Usage Status</a></th>
            <th><a href="?sort=parking_spaces">Parking Spaces</a></th>
            <th><a href="?sort=name">Name</a></th>
            <th><a href="?sort=latitude">Latitude</a></th>
            <th><a href="?sort=longitude">Longitude</a></th>
          </tr>
        </thead>
        <tbody></tbody>
        <tbody id="stationTableBody"></tbody>
      </table>
     
    </div>

    
    <h2>Slot</h2>
   

    <ul id="nameList"></ul>


    <h2>User</h2>
    <div class="scrollable">
      <table id="usersTable">
        <thead>
          <tr>
            <th><a href="?sort=id">ID</a></th>
            <th><a href="?sort=first_name">First Name</a></th>
            <th><a href="?sort=last_name">Last Name</a></th>
            <th><a href="?sort=full_name">Full Name</a></th>
            <th>
              <a href="?sort=time_biking_minutes">Time Biking (Minutes)</a>
            </th>
            <th><a href="?sort=time_biking_hours">Time Biking (Hours)</a></th>
            <th>
              <a href="?sort=total_time_biking_minutes"
                >Total Time Biking (Minutes)</a
              >
            </th>
            <th><a href="?sort=saldo">Saldo</a></th>
          </tr>
        </thead>
        <tbody></tbody>
        <tbody id="userTableBody"></tbody>
      </table>
      <!-- Your content goes here -->
    </div>

    <!-- Bike Class -->
    <h2>Bike</h2>
    <div class="scrollable">
      <table id="bikeTable">
        <thead>
          <tr>
            <th>bike.ID</th>
            <th>bike.State</th>
            <th>bike.Borrow Time</th>
            <th>bike.Latitude</th>
            <th>bike.Longitude</th>
          </tr>
        </thead>
        <tbody id="bikeTableBody"></tbody>
      </table>

      <!-- Your content goes here -->
    </div>

    <!-- BikeTransporter Class -->
    <h2>BikeTransporter</h2>
    <div class="scrollable">
      <table>
        <thead>
          <tr>
            <th><a href="?sort=id">ID</a></th>
            <th><a href="?sort=first_name">First Name</a></th>
            <th><a href="?sort=last_name">Last Name</a></th>
            <th><a href="?sort=full_name">Full Name</a></th>
            <th>
              <a href="?sort=time_biking_minutes">Time Biking (Minutes)</a>
            </th>
            <th><a href="?sort=time_biking_hours">Time Biking (Hours)</a></th>
            <th>
              <a href="?sort=total_time_biking_minutes"
                >Total Time Biking (Minutes)</a
              >
            </th>
            <th><a href="?sort=saldo">Saldo</a></th>
          </tr>
        </thead>
        <tbody></tbody>
        <tbody id="BikeTransporterTableBody"></tbody>
      </table>
    </div>
  </body>
</html>
