<!DOCTYPE html>
<html>
  <head>
    <title>simulation</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <li><a href="/">Home</a></li>
    <form action="/submit" method="post">
      <input type="number" name="input_text" />

      <button type="submit" name="generat bikes">generat bikes Button</button>
      <button type="submit" name="simulet">simulet Button</button>
    </form>
    <style>
      .scrollable {
        height: 200px;
        overflow-y: scroll;
      }
    </style>
    <h2>Bike</h2>
    <div class="scrollable">
      <table id="bikeTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>State</th>
            <th>Borrow Time</th>
            <th>Latitude</th>
            <th>Longitude</th>
          </tr>
        </thead>
        <tbody id="bikeTableBody"></tbody>
      </table>

      
    </div>
  </body>
</html>
