<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/station">Homstatione</a></li>
        <li><a href="/transporter">transporter</a></li>
        <li><a href="/user">user</a></li>
        <li><a href="/bikes">bikes</a></li>
      </ul>
    </nav>

    <h1>her is een tekst</h1>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Feature Type</th>
          <th>Geometry Type</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>ID</th>
          <th>State</th>
          <th>Borrow Time</th>
        </tr>
      </thead>
      <tbody>
        {% for bike in bikes %}
        <tr>
          <td>{{ bike.type }}</td>
          <td>{{ bike.feature_type }}</td>
          <td>{{ bike.geometry_type }}</td>
          <td>{{ bike.latitude }}</td>
          <td>{{ bike.longitude }}</td>
          <td>{{ bike.id }}</td>
          <td>{{ bike.state }}</td>
          <td>{{ bike.borrow_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
