<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/station">Homstatione</a></li>
        <li><a href="/transporter">transporter</a></li>
        <li><a href="/user">user</a></li>
        <li><a href="/bikes">bikes</a></li>
      </ul>
    </nav>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Full Name</th>
      <th>Time Biking (Minutes)</th>
      <th>Time Biking (Hours)</th>
      <th>Total Time Biking (Minutes)</th>
      <th>Saldo</th>
    </tr>
    <h1>her is eefghn tekst</h1>
  </body>
</html>
