<!DOCTYPE html>
<html>
<head>
    <title>DataTable Example</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="script.js"></script>
</head>
<body>
    
    <p> <a href="bike.html">bike</a></p>   
    <p> <a href="station.html">station</a></p>   
    <p> <a href="transporter.html">transporter</a></p>   
    <p> <a href="user.html">user</a></p>   
    <p> <a href="/">index</a></p>   
    <p> <a href="   ">   </a></p>   

    
    <button onclick="runScript()">Run Script</button>
    <div id="output"></div> 
</body>
</html>
